#topbuttons {
    text-align: center;
}

.head-buttons a {
    text-decoration: none;
    color: #2E282A;
}

.head-buttons {
    background-color: #9CB380;
    border-radius: 10px;
    width: 180px;
    height: 20px;
    padding: 8px;
    text-align: center;
    display: inline-block;
    font-weight: 900;
    font-family: 'Cairo Play', cursive;
    padding-top: 0.1px;
}

.head-buttons:hover {
    background-color: #077187;
}

body {
    background: transparent url('./images/background.png');
    background-attachment: fixed;
    background-size: 100%;
    color: white;
}

.primeira-box {
    width: 10px;
    height: 100px;
    box-sizing: border-box;
}

#cogu1 {
    background-image: url("./images/body.png");
    background-repeat: no-repeat;
    width: 1860px;
    height: 1880px;
}

.title {
    height: 280px;
    margin-left: 180px;
}

h1 {
    font-family: 'Noto Serif', serif;
    text-align: left;
}

#avatar {
    border-radius: 75%;
    width: 280px;
    float: left;
    margin-right: 20px;
    margin-left: 5px;
    margin-bottom: 20px;
}

.introducao {
    font-size: 15px;
    font-weight: 40px;
    font-family: monospace;
}

.div-habilidades {
    clear: both;
    margin-left: 180px;
}

.div-conhecimentos {
    height: 500px;
    overflow-y: auto;
    overflow-x: auto;
    margin-left: 180px;
}

ul li:hover {
    font-weight: bold;
}

h2 {
    font-family: 'Noto Serif', serif;
}

#sobre {
    margin-left: 6px;
}

.s130 {
    font-size: 130%;
}

.s125 {
    font-size: 125%;
}

.s120 {
    font-size: 120%;
}

.s115 {
    font-size: 115%;
}

.tail-buttons {
    background-color: #077187;
    border-radius: 10px;
    width: 180px;
    height: 20px;
    padding: 8px;
    text-align: center;
    font-weight: 900;
    font-family: 'Cairo Play', cursive;
    padding-top: 0.1px;
    display: inline-block;
}